.page {
  background-color: #F8F9FA;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section_history {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section_mission {
  background-color: #E9ECEF;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section_team {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #003440;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #343A40;
  line-height: 1.625;
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mission_vision_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .mission_vision_container {
    flex-direction: row;
  }
}

.card {
  background-color: #F8F9FA;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.md_w_1_2 {
}

@media (min-width: 768px) {
  .md_w_1_2 {
    width: 50%;
  }
}

.card_title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #003440;
  margin-bottom: 1rem;
}

.card_text {
  color: #343A40;
}

.team_grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  text-align: center;
}

@media (min-width: 640px) {
  .team_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .team_grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.team_member {
  padding: 1rem;
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 9999px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: #DEE2E6;
}

.team_member_name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #003440;
}

.team_member_role {
  color: #6C757D;
}
