.nav {
  background-color: #F8F9FA; /* Light grey background */
  box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_link {
  display: flex;
  align-items: center;
}

.logo_icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.logo_text {
  height: 2rem;
}

.nav_links_container {
  display: flex;
  align-items: center;
}

.nav_links {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .nav_links {
    flex-direction: row;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.nav_link {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000000; /* Changed to black */
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  padding: 0.25rem 0.5rem; /* Add some padding for the background */
  border-radius: 0.25rem; /* Slightly rounded corners for the background */
}

.nav_link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #94d2bd; /* More visible background color */
  z-index: -1;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.nav_link:hover {
  color: #212529; /* Very dark grey on hover */
}

.nav_link:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

@media (min-width: 768px) {
  .nav_link {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
