.nav {
  background-color: #FFFFFF; /* Pure white background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Softer, more subtle shadow */
  position: sticky;
  top: 0;
  z-index: 50;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_link {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 3rem; /* Adjust this value as needed */
  width: auto; /* Maintain aspect ratio */
}

.logo_icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.logo_text {
  height: 2rem;
}

.nav_links_container {
  display: flex;
  align-items: center;
}

.nav_links {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .nav_links {
    flex-direction: row;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.nav_link {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.2s ease; /* Added transform to transition */
  position: relative;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
}

.nav_link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #00A78E; /* A nice brandable teal/green */
  transition: width 0.3s ease;
}

.active_link::after,
.nav_link:hover::after {
  width: 50%; /* Underline grows to 50% width */
}

.nav_link:hover {
  transform: scale(1.05); /* Subtle scale effect on hover */
  color: #000;
}

@media (min-width: 768px) {
  .nav_link {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
