html, body {
  margin: 0;
  padding: 0;
}

:root {
  --background: #F8F9FA; /* Always light background */
  --foreground: #121212;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
