.section {
  background-color: #F8F9FA;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.text_center {
  text-align: center;
}

.mb_12 {
  margin-bottom: 3rem;
}

.title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: #003440;
}

.subtitle {
  color: #343A40;
  margin-top: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  height: 100%;
}

.card_content {
  padding: 1.5rem;
}

.category {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ca6702;
  font-weight: 600;
  background-color: #fca311;
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
}

.card_title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: #003440;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  height: 4rem;
}

.card_resumen {
  color: #343A40;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.read_more {
  color: #ca6702;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.read_more:hover {
  text-decoration: underline;
}

.mt_12 {
  margin-top: 3rem;
}

.view_all_button {
  background-color: #ee9b00;
  color: #fff;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.view_all_button:hover {
  background-color: #ca6702;
}
