.dashboardContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f9fa; /* Light grey background for the whole dashboard */
}

.mainContent {
  flex: 1;
  padding: 2rem;
  background-color: #ffffff; /* White background for the main content area */
}

.pageTitle {
  font-size: 1.875rem; /* text-3xl */
  font-weight: 700; /* font-bold */
  color: #003440; /* text-brand-blue */
  margin-bottom: 2rem;
}
